body {
    background-image:url('image.jpg');
}

h1 {
    margin:20px;
    font-family:'Segoe Print';
    border-bottom:3px ridge lightskyblue;
    color:lightskyblue;

}
.abt {
    margin:auto;
    display:block;
    width:100%;
    vertical-align:bottom;
    font-size:30px;
    padding:10px;
    font-family:Cambria;
    color:lightskyblue;
}
.container {
    border:3px solid lightskyblue;
    width:71%;
    margin:auto;
    display:block;
    

}
.sounds {
    margin:20px;
    position:absolute;
    width:100px;
    height:100px;
    border-radius:10px;
    background-image:url('sound.png');
    background-size:100%;
    border:3px solid lightskyblue;
}
.mute {
    margin: 20px;
    margin-left:140px;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-image: url('mute.png');
    background-size: 100%;
    border:3px solid lightskyblue;
}
.sounds:hover {
    scale:1.05;
}
.mute:hover {
    scale:1.05;
}
.lemonboy {
    margin:0px;
    position:absolute;
    right:0px;
    bottom:0px;
    width:1%;
    border:3px solid black;
    border-radius:5px;
}
.lemonboy:hover {
    margin:auto;
    display:block;
    width:100%;
}